<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>AAA</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mdb.css}"/>
</head>
<body>


<form action="">
    <div class="row">
        <div class="col-lg-2">
            <a th:href="@{/personList}">Liste de Personnes</a>
        </div>

        <div class="col-lg-4">
            <input type="text" class="form-control" name="village" required id="village" placeholder="Nom de Village">
            <br>
            <select name="capacite" class="form-control" id="capacite">
                <option value="p">Pauvre</option>
                <option value="r">Riche</option>
                <option value="tp">Très pauvre</option>
                <option value="tr">Très riche</option>
            </select>
        </div>

        <div class="col-lg-4">
            <input type="email" class="form-control" name="adresse" required placeholder="Votre Adresse Email">
            <input type="reset" value="Annuler" class="btn btn-danger animated infinite bounce">
            <input type="submit" value="Envoyer" class="btn btn-success animated infinite bounce">
        </div>
    </div>
</form>


<!--/*@thymesVar id="message" type="Controller"*/-->
<h2 th:utext="${message}">..!..</h2>


</body>

</html>