<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste de Personnes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mdb.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-icons.min.css}"/>
</head>

<style>
    body{
        background-image: imge("static/img/apartement.jpg");
    }
</style>

<body>

<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">

        <h1>Liste des Personnes</h1>

        <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Nouvelle Personne
        </button>
        </p>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <!--/*@thymesVar id="personForm" type="com.example.premier.Form.PersonneForm"*/-->
                <form th:action="@{/addPerson}" th:object="${personForm}" method="POST">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" required name="nom"  class="form-control" placeholder="Nom"/>
                            <br>
                            <input type="submit" value="Ajouter" class="btn btn-success" />
                            <input type="reset" value="Annuler" class="btn btn-warning" />
                        </div>
                        <br>
                        <div class="col-lg-6">
                            <input type="text" required name="prenom" class="form-control" placeholder="Prénom" />
                        </div>
                    </div>
                </form>
            </div>

        </div>



        <br/><br/>


        <div>
            <table id="maTablePersonne" class="table animated slideInUp display table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr>
                </thead>


                <tbody>
                <!--/*@thymesVar id="persons" type="com.example.premier.Model.Personne"*/-->
                <tr th:each ="person : ${persons}">
                    <td th:utext="${person.nom}"></td>
                    <td th:utext="${person.prenom}"></td>
                    <td>
                        <!-- Modifier -->
                        <button type="button" class="btn btn-primary animated bounce" data-toggle="modal" th:attr="data-target='#exampleModal'+${person.id}" >
                            Modifier
                        </button>

                        <!-- Suppimer -->
                        <a th:attr="data-confirm='Voulez-vous vraiment supprimer '+${person.nom}+' '+${person.prenom}+' ?'" style="color: white;" th:href="@{/supprimer(idPersonne=${person.id})}" class="btn btn-danger">
                            Supprimer
                        </a>


                    </td>

                </tr>

                </tbody>


            </table>
    </div>

        <!-- Modal -->
        <!-- Modal -->
        <!--/*@thymesVar id="persons" type="com.example.premier.Model.Personne"*/-->
        <div th:each ="person:${persons}">
            <div class="modal fade" th:id="'exampleModal'+${person.id}" role="dialog" th:attr="aria-labelledby='exampleModalLabel'+${person.id}"  aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:id="'exampleModalLabel'+${person.id}">Modification</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form th:action="@{/modifier/Personne(idPersonne=${person.id})}"
                                  th:object="${person}"
                                  method="post">

                                <input type="text"
                                       name="nom"
                                       th:value="${person.nom}"
                                       placeholder="Votre Nom"
                                       required class="form-control"
                                >
                                <br>

                                <input name="prenom"
                                       type="text"
                                       placeholder="Votre Prénom"
                                       th:value="${person.prenom}"
                                       required class="form-control">
                                <br>
                                <input type="submit" class="btn btn-success" value="Modifier">
                                <input type="reset" class="btn btn-danger" value="Annuler">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  -->

        <!-- Fin Modal -->




</div>


</div>
</body>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>

<script>
    $(document).ready(function() {
        $('#maTablePersonne').DataTable( {
            "language": {
                "lengthMenu": "Afficher _MENU_ personnes par page",
                "zeroRecords": "Table est vide. Aucune Personne.",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucune personne trouvée",
                "infoFiltered": "(Trier sur _MAX_ de Personnes Totales)"
            }
        });

    } );



    $(function() {
        $('a[data-confirm]').click(function(ev) {
            var href = $(this).attr('href');

            if (!$('#dataConfirmModal').length) {
                $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>' +
                    '<h3 id="dataConfirmLabel">Merci de Confirmer</h3></div><div class="modal-body">' +
                    '</div><div class="modal-footer"><button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Non</button>' +
                    '<a class="btn btn-danger" id="dataConfirmOK">Oui</a></div></div></div></div>');
            }
            $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
            $('#dataConfirmOK').attr('href', href);
            $('#dataConfirmModal').modal({show:true});

            return false;
        });

    });

</script>

</html>