<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Liste de Personnes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mdb.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
</head>
<body>

<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">

        <h1>Liste des Personnes</h1>
        <a class="btn btn-success" href="addPerson">Ajouter</a>


        <br/><br/>
        <div>
            <table id="maTablePersonne" class="table animated slideInUp display table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr>
                </thead>


                <tbody>
                <!--/*@thymesVar id="persons" type="com.example.premier.Model.Personne"*/-->
                <tr th:each ="person : ${persons}">
                    <td th:utext="${person.nom}"></td>
                    <td th:utext="${person.prenom}"></td>
                    <td>
                        <!-- Modifier -->
                        <button type="button" class="btn btn-primary animated bounce" data-toggle="modal" th:attr="data-target='#exampleModal'+${person.id}" >
                            Vite Ici
                        </button>

                        <!-- Suppimer -->
                        <a th:href="@{/supprimer(idPersonne=${person.id})}" class="btn btn-danger">
                            Supprimer
                        </a>
                    </td>

                </tr>

                </tbody>


            </table>
    </div>

        <!-- Modal -->
        <!-- Modal -->
        <!--/*@thymesVar id="persons" type="com.example.premier.Model.Personne"*/-->
        <div th:each ="person:${persons}">
            <div class="modal fade" th:id="'exampleModal'+${person.id}" role="dialog" th:attr="aria-labelledby='exampleModalLabel'+${person.id}"  aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:id="'exampleModalLabel'+${person.id}">Modification</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form th:action="@{/modifier/Personne(idPersonne=${person.id})}"
                                  th:object="${person}"
                                  method="post">

                                <input type="text"
                                       name="nom"
                                       th:value="${person.nom}"
                                       placeholder="Votre Nom"
                                       required class="form-control"
                                >
                                <br>

                                <input name="prenom"
                                       type="text"
                                       placeholder="Votre Prénom"
                                       th:value="${person.prenom}"
                                       required class="form-control">
                                <br>
                                <input type="submit" class="btn btn-success" value="Modifier">
                                <input type="reset" class="btn btn-danger" value="Annuler">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  -->

        <!-- Fin Modal -->




</div>


</div>
</body>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>

<script>
    $(document).ready(function() {
        $('#maTablePersonne').DataTable( {
            "language": {
                "lengthMenu": "Afficher _MENU_ personnes par page",
                "zeroRecords": "Table est vide. Aucune Personne.",
                "info": "Page _PAGE_ sur _PAGES_",
                "infoEmpty": "Aucune personne trouvée",
                "infoFiltered": "(filtered from _MAX_ total records)"
            }
        });

    } );
</script>

</html>